<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
  <title>Galería</title>
</head>
<body>
    <!-- Navegador -->
   <header>
      <div class="container">
            <div class="logo-container">
                <div class="logo">Sabores<span>DelMundo</span></div>
                <nav>
                    <ul>
                        <li><a href="../index.html" class="active">Inicio</a></li>
                        <li><a href="./menu.html" class="active">Menú Comida</a></li>
                        <li><a href="./paquetes.html" class="active">Paquetes</a></li>
                        <li><a href="./galeria.html" class="active">Galería</a></li>
                        <li><a href="./promociones.html" class="active">Promociones</a></li>
                    </ul>
                </nav>
            </div>
      </div>
    </header>

    <!-- Sección Galería -->
    <section id="galeria" class="container">
        <h2>Nuestra Galería</h2>
        <p class="descripcion-componente">
          Explora nuestra galería y conoce el ambiente, los platillos y los momentos especiales que se viven en Sabores del Mundo. ¡Déjate inspirar por nuestras imágenes!
        </p>
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1517248135467-4c7edcad34c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="Restaurante">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="Cocina">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="Comida 1">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1544025162-d76694265947?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="Comida 2">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1578474846511-04ba529f0b88?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="Evento">
            </div>
            <div class="gallery-item">
                <img src="https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="Postres">
            </div>
        </div>
    </section>
</body>
</html>